include common/mixins.pug
doctype
html
	head
		link(rel="stylesheet", href="css/style.min.css")
		title
			| Введение | Категория "С" | Сноуборд
	body
		+nav("menu")

		.main
			h1
				| введение
			h2
				| знакомство, проверка сняряжения, разминка
			.point
				| Цель:<br>
				| <b>знакомство, проверка снаряжения и одежды, объяснение правил поведения на склоне, разминка</b>
			<hr>

			.meet
				h3
					| Знакомство с обучающимися:
				ul
					| <li>объяснить правила школы / ГЛЦ и указать место встречи;</li>
					| <li>выяснить максимально возможную информацию об учениках (об их сосотянии здоровья, | противопоказаниях к занятиям, умении кататься и т.д.);</li>
					| <li>при выходе с группой / учеником на склон обратить внимание на безопасность и организацию;</li>
					| <li>выбрать ровный, подготовленный склон, без уклона, желательно огражденный (подальше от мест | посадки и схода с подъемника).</li>
			+important("imp", "- выяснить, есть ли в группе ученики, уже посещавшие первый урок, и предложить им пройти занятие отдельно от начинающих (первое занятие не требует повторного посещения) или присоединиться через урок;", "- все объяснения и знакомство (с небольшой группой) провести в виде беседы по пути к месту занятия.")
				
			.stuff
				| <h3>Проверка снаряжения и одежды <span style="font-weight: 300">(проверить визуально):</span></h3>
				ul
					li
						| <span>Сноуборд:</span>
						| <ul>
						| 	<li>
						| 		- соответствие длины сноуборда росту ученика (для начинающих &mdash; около подбородка);
						| 	</li>
						| 	<li>
						| 		- состояние скользящей поверхности и кантов.
						| 	</li>
						| </ul>
					li
						| <span>Крепления:</span>
						| <ul>
						| 	<li>
						| 		- угол разворота креплений;
						| 	</li>
						| 	<li>
						| 		- ширину между ними;
						| 	</li>
						| 	<li>
						| 		- соответсвие постановки креплений стойке клиента.
						| 	</li>
						| </ul>
					li
						| <span>Стойка бывает:</span>
						| <ul>
						| 	<li>
						| 		- regular &mdash; левая нога впереди;
						| 	</li>
						| 	<li>
						| 		- goofy &mdash; правая нога впереди;
						| 	</li>
						| </ul>
					li
						| <span>Ботинки:</span>
						| <ul>
						| 	<li>
						| 		- шнуровку и затяжку на голени;
						| 	</li>
						| 	<li>
						| 		- языки ботинок заправлены вовнутрь;
						| 	</li>
						| 	<li>
						| 		- штанины брюк или комбинезонов поверх ботинок.
						| 	</li>
						| </ul>
					li
						| <span>Одежда:</span>
						| <ul>
						| 	<li>
						| 		- её соответствие погодным условиям;
						| 	</li>
						| 	<li>
						| 		- наличие рукавиц или перчаток.
						| 	</li>
						| </ul>
			+important("imp", "- сотрудничать с работниками проката (лучше всего проинструктировать ученика по выбору снаряжения ещё до того, как он получит его в прокате);", `- определить стойку («задняя нога» — это та, которая осталась позади, когда скользим по льду и т.п.).`)
				
			.meet
				h3
					| 1. Объяснить и показать (в порядке очередности):
				ul
					| <li>нос и хвост сноуборда;</li>
					| <li>передний и задний канты;</li>
					| <li>скользящую поверхность;</li>
					| <li>крепления.</li>
			.imp
				span
					| Важно:
				ul
					li
						| использовать рабочее время максимально эффективно (можно объяснить основные термины во время проверки снаряжения<br>или по пути следования к месту занятия).
			.meet.exercises
				h3
					| 2. Объяснить и показать, как правильно держать, носить и класть сноуборд:
				ul
					| <li>переносить сноуборд под рукой, скользящей поверхностью к себе;</li>
					| <li>класть сноуборд на снег только креплениями вниз;</li>
					| <li>пристегивать сноуборд только после того, как он остынет (за это время сделать разминку);</li>
					| <li>не втыкать сноуборд в снег с усилием (снег может быть твердым, как лед).</li>
				h3
					| 3. Разминка <span style="font-weight: 300">(должна быть эффективной, нескучной и в меру быстрой).</span>
				b
					| Сделать активные движения без сноуборда:
				| <ul style="list-style: none;">
				| 	<li>1) <b>Бег</b> (на месте, по кругу, вверх по склону).</li>
				| 	<li>2) <b>Прыжки</b></li>
				| 	<li>3) <b>Вращения руками / коленями</b>.</li>
				| 	<li>4) <b>Наклоны и упражнения на гибкость</b>.</li>
				| 	<li>5) <b>Упражнения на равновесие и координацию</b>.</li>
				| 	<li>6) <b>Игры, эстафеты</b>.</li>
				| </ul>
			+important("imp", "учитывать уровень подготовки группы, индивидуальные особенности каждого ученика (возраст, физические возможности), а также погодные условия.")